div[id="app"] > div > div[tabindex="-1"] {
  top: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
} 

div[class="_aigv _aigw"] {
  flex: none !important;
  resize: horizontal;
  max-width: 50% !important;
  min-width: min-content !important;
  overflow: auto !important;
}

div[class="_aigv _aigw _aigx"] {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

html[id="whatsapp-web"] {
  overflow-y: hidden !important;
}