div[tabindex="-1"].two {
  top: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
} 

div[tabindex="-1"].two > ._aigw.x9f619 {
  flex: none !important;
  resize: horizontal !important;
  max-width: 50% !important;
  min-width: min-content !important;
  overflow: auto !important;
}